/* reset code start */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset code end */

div {
  width: 100%;
  height: 100%;
}

/* header start */
.header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1350px;
  height: 199px;
  z-index: 30;
}

.sell-out {
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(119, 119, 119);
  line-height: 1.294;
  text-align: left;
  position: absolute;
  left: 617px;
  top: 92px;
  width: 208px;
  height: 16px;
  z-index: 29;
}
.logo {
  position: absolute;
  padding-left: 10px;
  left: 210px;
  top: 45px;
  width: 350px;
  height: 120px;
  z-index: 28;
}
img {
  width: 318px;
  height: 100px;
}
.phones {
  font-size: 31px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(118, 118, 118);
  padding-right: 10px;
  line-height: 1.484;
  text-align: left;
  position: absolute;
  left: 902px;
  top: 58px;
  width: 310px;
  height: 95px;
  z-index: 27;
  font-weight: bold;
}
.layer1 {
  background: repeat-y url("Слой 1.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1350px;
  height: 199px;
  z-index: 26;
}

/* header end */

/* menu start */

.menu {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1350px;
  height: 58px;
  z-index: 24;
}
.menu-list {
  display: inline-block; 
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.main {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 388px;
  top: 217.872px;
  width: 620px;
  height: 18px;
  z-index: 22;
}
.layer3 {
  background-image: url("Слой 3.png");
  position: absolute;
  left: 0px;
  top: 199px;
  width: 1350px;
  height: 58px;
  z-index: 21;
}

/* menu end */

/* slider start */

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 0px;
  width: 1350px;
  height: 400px;
  z-index: 10;
}
.layer10 {
  background-image: url("Слой 10.png");
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 1px;
  top: 261px;
  width: 1350px;
  height: 400px;
  z-index: 9;
}

/* slider end */

/* content start */

.content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1350px;
  height: 807px;
  z-index: 19;
}
.company {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(118, 118, 118);
  line-height: 22px;
  text-align: left;
  position: absolute;
  left: 618.937px;
  top: 731px;
  width: 566px;
  height: 223px;
  z-index: 15;
}
.what_we_do {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(118, 118, 118);
  line-height: 0.917;
  text-align: left;
  position: absolute;
  left: 615.937px;
  top: 986.496px;
  width: 566px;
  height: 223px;
  z-index: 16;
}
h2 {
  font-size: 33px;
}
.only_goods {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(118, 118, 118);
  line-height: 1.571;
  text-align: left;
  position: absolute;
  left: 618.795px;
  top: 1069.25px;
  width: 255px;
  height: 208px;
  z-index: 17;
}
.build_marketing {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(118, 118, 118);
  line-height: 1.571;
  text-align: left;
  position: absolute;
  left: 919.72px;
  top: 1068.284px;
  width: 235px;
  height: 190px;
  z-index: 18;
}
.bold {
  font-weight: bold;
}
.news {
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.15;
  text-align: left;
  position: absolute;
  left: 242.844px;
  top: 731px;
  width: 147px;
  height: 28px;
  z-index: 13;
}
.feed {
  font-size: 14px;
  font-family: 'OpenSansLight', sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.571;
  text-align: left;
  position: absolute;
  left: 243.937px;
  top: 817.25px;
  width: 264px;
  height: 439px;
  z-index: 14;
}
.itali {
  font-style: italic;
}
.under {
  text-align: right;
  position: absolute;
  left: 180px;
  z-index: 14;
}
.layer9 {
  background-image: url("Слой 9.png");
  position: absolute;
  left: 210px;
  top: 709px;
  width: 350px;
  height: 560px;
  z-index: 12;
}

/* content end */

/* footer start */

.footer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1350px;
  height: 220px;
  z-index: 7;
}
.site-development {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.571;
  text-align: left;
  position: absolute;
  left: 971px;
  top: 1505px;
  width: 217px;
  height: 36px;
  z-index: 6;
}
.footer-menu {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: underline;
  line-height: 1.857;
  text-align: left;
  position: absolute;
  left: 560px;
  top: 1505px;
  width: 132px;
  height: 117px;
  z-index: 5;
}
.footer-menu-list {
  list-style-type: none;
}
.copyright {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.571;
  text-align: left;
  position: absolute;
  left: 210px;
  padding-left: 10px;
  top: 1505px;
  width: 213px;
  height: 33px;
  z-index: 4;
}
.layer2 {
  background-image: url("Слой 2.png");
  position: absolute;
  left: 0px;
  top: 1464px;
  width: 1350px;
  height: 220px;
  z-index: 3;
}

/* footer end */